<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Percentage germinated</th>
    </tr>
  </thead>

  <tbody>
    <% @sowings.each do |sowing| %>
      <tr>
        <td><%= link_to sowing.name, [@seed, sowing] %></td>
        <td><%= sowing.percentage_germinated %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sowing', new_seed_sowing_path %>
